.Question {
    display: flex;
    flex-direction: column;
}

.QuestionFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.RightAnswer {
    background-color: rgb(75,181, 67, 0.4);
}


.Notification {
    flex-grow: 1;
    text-align: center;
    font-weight: 500;
}

.Success {
    color: rgb(75,181, 67);
}

.Incorrect {
    color: #D8000C
}

i {
    position: relative;
    top: 5px;
}

pre {
    border-radius: 10px;
    background-color: #eeeeee;
    padding: 10px;
    white-space: pre-wrap;
}